network:
    ethernets:
      {{ deploy_edge_metal_public_interface }}:
        dhcp4: no
        dhcp6: no
    bridges:
      scionwan:
        dhcp4: no
        dhcp6: no
        interfaces: [{{ deploy_edge_metal_public_interface }}]
        addresses:
          - {{ public_ipv4_cidr }}
          - {{ public_ipv6_cidr }}
        routes:
          - to: default
            via: {{ public_ipv4_gateway }}
          - to: default
            via: {{ public_ipv6_gateway }}
        nameservers:
          addresses: {{ dns | map(attribute='address') | list }}
    version: 2