log syslog informational

!
router bgp {{ routing_to_edge_bgp_asn }}
 {% for bgp_peer in routing_to_edge_edge_ipv4 %}
 neighbor {{ bgp_peer }} remote-as {{ routing_to_edge_bgp_edge_asn }}
 neighbor {{ bgp_peer }} timers 1 3
 neighbor {{ bgp_peer }} soft-reconfiguration inbound
 {% endfor %}
 no bgp ebgp-requires-policy
!
interface {{ frr_interface_name | default(public_interface) }}
{% for ip_cidr in routing_to_edge_addresses %}
 {{ "ipv6" if ( ip_cidr | ansible.utils.ipv6 ) else "ip" }} address {{ ip_cidr }}
{% endfor %}
!
ip prefix-list ANY permit 0.0.0.0/0 le 32
route-map RM1 permit 10
  match ip address prefix-list ANY
  set src {{ public_ipv4 }}

ip protocol bgp route-map RM1

route-map SET_NEXTHOP permit 10
 match ip address prefix-list ANY
 set ip next-hop {{ public_ipv4 }}
exit
