log syslog informational

!
router bgp {{ routing_to_edge_bgp_asn }}
 neighbor {{ routing_to_edge_edge_ipv4 }} remote-as {{ routing_to_edge_bgp_edge_asn }}
 neighbor {{ routing_to_edge_edge_ipv4 }} timers 1 3
 neighbor {{ routing_to_edge_edge_ipv4 }} route-map SET_NEXTHOP in
 no bgp ebgp-requires-policy
!
interface scion_bgp
{% for ip_cidr in routing_to_edge_addresses %}
 {{ "ipv6" if ( ip_cidr | ansible.utils.ipv6 ) else "ip" }} address {{ ip_cidr }}
{% endfor %}
!
ip prefix-list ANY permit 0.0.0.0/0 le 32
route-map RM1 permit 10
  match ip address prefix-list ANY
  set src {{ public_ipv4 }}

ip protocol bgp route-map RM1

route-map SET_NEXTHOP permit 10
 match ip address prefix-list ANY
 set ip next-hop {{ hostvars['edge']['public_ipv4'] }}
exit
